@font-face {
    font-family: 'hgs';
    src: url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-SemiBold.eot');
    src: local('HurmeGeometricSans1 SemiBold'), local('HurmeGeometricSans1-SemiBold'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-SemiBold.woff2') format('woff2'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-SemiBold.woff') format('woff'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-SemiBold.ttf') format('truetype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-SemiBold.svg#HurmeGeometricSans1-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'hgs';
    src: url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Bold.eot');
    src: local('HurmeGeometricSans1 Bold'), local('HurmeGeometricSans1-Bold'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Bold.eot?#iefix') format('embedded-opentype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Bold.woff2') format('woff2'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Bold.woff') format('woff'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Bold.ttf') format('truetype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Bold.svg#HurmeGeometricSans1-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'hgs';
    src: url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Light.eot');
    src: local('HurmeGeometricSans1 Light'), local('HurmeGeometricSans1-Light'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Light.eot?#iefix') format('embedded-opentype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Light.woff2') format('woff2'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Light.woff') format('woff'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Light.ttf') format('truetype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Light.svg#HurmeGeometricSans1-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'hgs';
    src: url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Regular.eot');
    src: local('HurmeGeometricSans1 Regular'), local('HurmeGeometricSans1-Regular'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Regular.eot?#iefix') format('embedded-opentype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Regular.woff2') format('woff2'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Regular.woff') format('woff'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Regular.ttf') format('truetype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Regular.svg#HurmeGeometricSans1-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hgs';
    src: url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-ThinObl.eot');
    src: local('HurmeGeometricSans1 ThinObl'), local('HurmeGeometricSans1-ThinObl'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-ThinObl.eot?#iefix') format('embedded-opentype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-ThinObl.woff2') format('woff2'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-ThinObl.woff') format('woff'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-ThinObl.ttf') format('truetype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-ThinObl.svg#HurmeGeometricSans1-ThinObl') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'hgs';
    src: url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-LightObl.eot');
    src: local('HurmeGeometricSans1 LightObl'), local('HurmeGeometricSans1-LightObl'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-LightObl.eot?#iefix') format('embedded-opentype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-LightObl.woff2') format('woff2'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-LightObl.woff') format('woff'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-LightObl.ttf') format('truetype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-LightObl.svg#HurmeGeometricSans1-LightObl') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'hgs';
    src: url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-RegularObl.eot');
    src: local('HurmeGeometricSans1 RegularObl'), local('HurmeGeometricSans1-RegularObl'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-RegularObl.eot?#iefix') format('embedded-opentype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-RegularObl.woff2') format('woff2'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-RegularObl.woff') format('woff'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-RegularObl.ttf') format('truetype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-RegularObl.svg#HurmeGeometricSans1-RegularObl') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'hgs';
    src: url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Black.eot');
    src: local('HurmeGeometricSans1 Black'), local('HurmeGeometricSans1-Black'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Black.eot?#iefix') format('embedded-opentype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Black.woff2') format('woff2'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Black.woff') format('woff'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Black.ttf') format('truetype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Black.svg#HurmeGeometricSans1-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'hgs';
    src: url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Thin.eot');
    src: local('HurmeGeometricSans1 Thin'), local('HurmeGeometricSans1-Thin'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Thin.eot?#iefix') format('embedded-opentype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Thin.woff2') format('woff2'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Thin.woff') format('woff'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Thin.ttf') format('truetype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-Thin.svg#HurmeGeometricSans1-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'hgs';
    src: url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-BlackObl.eot');
    src: local('HurmeGeometricSans1 BlackObl'), local('HurmeGeometricSans1-BlackObl'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-BlackObl.eot?#iefix') format('embedded-opentype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-BlackObl.woff2') format('woff2'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-BlackObl.woff') format('woff'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-BlackObl.ttf') format('truetype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-BlackObl.svg#HurmeGeometricSans1-BlackObl') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'hgs';
    src: url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-SemiBoldObl.eot');
    src: local('HurmeGeometricSans1 SemiBoldObl'), local('HurmeGeometricSans1-SemiBoldObl'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-SemiBoldObl.eot?#iefix') format('embedded-opentype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-SemiBoldObl.woff2') format('woff2'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-SemiBoldObl.woff') format('woff'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-SemiBoldObl.ttf') format('truetype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-SemiBoldObl.svg#HurmeGeometricSans1-SemiBoldObl') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'hgs';
    src: url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-BoldObl.eot');
    src: local('HurmeGeometricSans1 BoldObl'), local('HurmeGeometricSans1-BoldObl'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-BoldObl.woff2') format('woff2'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-BoldObl.woff') format('woff'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-BoldObl.ttf') format('truetype'),
        url('/files/css/fonts/hgs/subset-HurmeGeometricSans1-BoldObl.svg#HurmeGeometricSans1-BoldObl') format('svg');
    font-weight: bold;
    font-style: italic;
}

